.App {
  text-align: center;
  background-color: #c4cad6;
  font-size: calc(10px + 2vmin);
  color: white;
}


@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.App-link {
  color: #61dafb;
}

